/* Partials */
/* Variables */
/* Reglas generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Partials */
/* Mobile */
.header .logo {
  width: 130%;
}
.header .button-menu {
  background-color: #fff;
  margin-right: 30px;
  border: none;
  text-decoration: none;
  animation: none;
}
.header .burger {
  width: 200%;
  background-color: #fff;
}
.header .link {
  color: #4E549F;
  font-weight: bold;
}

/* Partials */
/* Mobile */
footer {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: #4E549F;
}
footer .p-footer-2 {
  margin: auto 0px auto 5px;
  display: none;
}
footer .p-footer {
  margin: auto 0px auto 5px;
  display: none;
}
footer .section-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .section-footer a img {
  margin: 10px 0;
  width: 50px;
  font-size: 15px;
}

/* Pages */
/* Partials */
/* Mobile  */
.main-index .carousel-indicators {
  display: none;
}
.main-index .mobile {
  display: none;
}
.main-index .button-banner {
  display: none;
}
.main-index .img-banner-desktop {
  display: none;
  width: 100%;
}
.main-index .h1-home {
  width: 90%;
  font-size: 20px;
  text-align: center;
  color: #4E549F;
  margin: auto;
  margin-top: 15px;
  font-weight: bold;
}
.main-index .section-home {
  width: 100%;
}
.main-index .section-home .article-home {
  width: 90%;
  padding: 5%;
  margin: 5% auto;
  border: 2px solid #C9B6BE;
  border-radius: 10px;
  box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
}
.main-index .section-home .article-home .img-services {
  width: 100%;
}
.main-index .section-home .article-home h2 {
  margin-top: 5px;
  font-size: 15px;
  color: #9f684e;
  text-align: center;
}
.main-index .section-home .article-home h3 {
  font-style: italic;
  font-size: 13px;
  text-align: center;
}
.main-index .section-home .article-home ul li {
  font-size: 12px;
}
.main-index .h2-index {
  width: 90%;
  font-size: 18px;
  text-align: center;
  color: #4E549F;
  margin: auto;
  margin-top: 15px;
  font-weight: bold;
}
.main-index .a-index {
  text-decoration: none;
  color: #fff;
}
.main-index .a-index .p-index {
  background-color: #4E549F;
  width: 70%;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 1%;
  font-size: 15px;
}

/* Partials */
/* Mobile  */
@keyframes bannerAnimation {
  0% {
    background-color: blue;
    transform: translateX(0);
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: green;
    transform: translateX(100px);
  }
}
.main-services .banner-services {
  width: 100%;
}
.main-services .ul-services li {
  width: 100%;
  margin: auto;
}

/* Partials */
/* Mobile  */
.main-contact .h1-contact {
  width: 90%;
  font-size: 18px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: #4E549F;
  margin-top: 10px;
}
@keyframes bannerServiceAni {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
.main-contact .banner-services {
  width: 100%;
  animation: bannerServiceAni 5s 1;
}
.main-contact form {
  background: #C9B6BE;
  background: linear-gradient(0deg, rgb(201, 182, 190) 0%, rgb(255, 255, 255) 65%);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto 100px auto;
  padding: 5%;
  border: 2px solid #C9B6BE;
  border-radius: 10px;
  box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
}
.main-contact form label {
  text-align: left;
  font-weight: bold;
  font-weight: bold;
  color: #4E549F;
  margin: 5px 0;
}
.main-contact form input {
  border: 2px solid #C9B6BE;
  border-radius: 5px;
}
.main-contact form textarea {
  border: 2px solid #C9B6BE;
  border-radius: 5px;
  margin: 0 0 30px 0;
}
.main-contact form button {
  background-color: #4E549F;
  border: 2px solid #4E549F;
  border-radius: 5px;
  margin: 0 0 30px 0;
  color: #fff;
  font-weight: bold;
}

/* Partials */
/* Mobile  */
.main-porfolio .h1-portfolio {
  width: 90%;
  font-size: 20px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: #4E549F;
  margin-top: 10px;
}
.main-porfolio .h2-portfolio {
  width: 95%;
  font-size: 15px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: #4E549F;
  margin-top: 10px;
}
.main-porfolio .section-porfolio .a-portfolio {
  width: 100%;
  text-decoration: none;
  color: #0c0303;
  font-size: 15px;
}
.main-porfolio .section-porfolio .a-portfolio .article-portfolio {
  width: 85%;
  padding: 5px;
  margin: 15px auto;
  border: 2px solid #C9B6BE;
  border-radius: 10px;
  box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
}
.main-porfolio .section-porfolio .a-portfolio .article-portfolio .img-portfolio {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}
.main-porfolio .section-porfolio .a-portfolio .article-portfolio .h3-portfolio {
  margin-top: 5px;
  font-size: 15px;
  color: #9f684e;
  text-align: center;
}
.main-porfolio .section-porfolio .a-portfolio .article-portfolio ul li {
  font-size: 12px;
  text-align: left;
}

/* Partials */
/* Media Queris */
/* Partials */
/* Inicio Tablet */
@media (min-width: 760px) {
  .main-index .carousel-indicators {
    display: none;
  }
  .main-index .mobile {
    display: none;
  }
  .main-index .button-banner {
    display: none;
  }
  .main-index .img-banner-desktop {
    display: none;
  }
  .main-index .h1-home {
    font-size: 25px;
    margin: 15px auto;
  }
  .main-index .section-home {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main-index .section-home .article-home {
    width: 48%;
    margin: 1% auto;
    padding: 10px;
  }
  .main-index .section-home .article-home .img-services {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  .main-index .section-home .article-home h2 {
    margin-top: 5px;
    font-size: 18px;
    color: #9f684e;
    text-align: center;
  }
  .main-index .section-home .article-home h3 {
    font-style: italic;
    font-size: 13px;
    text-align: center;
  }
  .main-index .section-home .article-home ul li {
    font-size: 14px;
    text-align: left;
  }
  .main-index .h2-index {
    width: 90%;
    font-size: 25px;
    text-align: center;
    color: #4E549F;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
  }
  .main-index .a-index {
    text-decoration: none;
    color: #fff;
  }
  .main-index .a-index .p-index {
    background-color: #4E549F;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2%;
    font-size: 18px;
  }
  .main-contact form {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 120px auto;
    padding: 5%;
    border: 2px solid #C9B6BE;
    border-radius: 10px;
    box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    position: relative;
    bottom: 0;
  }
  .main-porfolio .h1-portfolio {
    width: 90%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .h2-portfolio {
    width: 95%;
    font-size: 25px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .section-porfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .main-porfolio .section-porfolio .a-portfolio {
    margin: auto;
    width: 50%;
    text-decoration: none;
    color: #0c0303;
    font-size: 15px;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio {
    width: 90%;
    border: 2px solid #C9B6BE;
    border-radius: 10px;
    box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .img-portfolio {
    width: 100%;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .h3-portfolio {
    margin-top: 5px;
    font-size: 16px;
    color: #9f684e;
    text-align: center;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio ul li {
    margin: auto;
    font-size: 14px;
    text-align: left;
  }
  footer {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-color: #4E549F;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  footer .p-footer-2 {
    font-size: 25px;
    margin: auto 10px auto 10px;
    display: block;
  }
  footer .section-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .section-footer img {
    margin: 10px 0;
    width: 60px;
  }
}
@media (min-width: 990px) {
  .header {
    padding: 0;
    margin: 0;
  }
  .header .logo {
    width: 50px;
  }
  .header .button-menu {
    display: none;
    background-color: #fff;
    margin-right: 30px;
    border: none;
    text-decoration: none;
    animation: none;
  }
  .header .button-menu .burger {
    width: 200%;
    background-color: #fff;
    display: none;
  }
  .header .navbar-expand-lg {
    display: flex;
    flex-basis: auto;
    justify-content: end;
  }
  .header .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: end;
  }
  .header .navbar-expand-lg .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
    margin: 10px 5px;
  }
  .header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-link:hover {
    color: #060a42;
  }
  .main-index .img-banner-mobile {
    display: none;
  }
  .main-index .carousel-indicators {
    display: none;
  }
  .main-index .mobile {
    display: block;
  }
  .main-index .button-banner {
    display: block;
  }
  .main-index .p-banner {
    color: #060a42;
    font-weight: bold;
    font-size: 20px;
  }
  .main-index .p-button-banner {
    color: #fff;
    background-color: #4E549F;
    font-weight: bold;
    font-size: 20px;
    border: none;
  }
  .main-index .p-button-banner:hover {
    background-color: #060a42;
  }
  .main-index .img-banner-desktop {
    display: block;
    width: 90%;
    margin: auto;
    height: 50vh;
    border-radius: 10px;
  }
  .main-index .h1-home {
    font-size: 25px;
    margin: 15px auto;
  }
  .main-index .section-home {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .main-index .section-home .article-home {
    width: 32%;
    margin: 15px auto;
  }
  .main-index .section-home .article-home:hover {
    width: 33%;
    transition: 1s;
    box-shadow: -11px 12px 11px 2px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: -11px 12px 11px 2px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -11px 12px 11px 2px rgba(0, 0, 0, 0.74);
  }
  .main-index .section-home .article-home .img-services {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }
  .main-index .section-home .article-home h2 {
    margin-top: 5px;
    font-size: 18px;
    color: #9f684e;
    text-align: center;
  }
  .main-index .section-home .article-home h3 {
    font-style: italic;
    font-size: 16px;
    text-align: center;
  }
  .main-index .section-home .article-home ul li {
    font-size: 14px;
    text-align: left;
  }
  .main-index .h2-index {
    width: 90%;
    font-size: 25px;
    text-align: center;
    color: #4E549F;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
  }
  .main-index .a-index {
    text-decoration: none;
    color: #fff;
  }
  .main-index .a-index .p-index {
    background-color: #4E549F;
    width: 30%;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 1%;
    font-size: 18px;
  }
  .main-index .a-index .p-index:hover {
    transition: 1s;
    background-color: #060a42;
  }
  .main-contact form {
    padding: 1%;
  }
  .main-contact form button:hover {
    background-color: #060a42;
  }
  .main-porfolio .h1-portfolio {
    width: 90%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .h2-portfolio {
    width: 95%;
    font-size: 25px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .section-porfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .main-porfolio .section-porfolio .a-portfolio {
    width: 33%;
    text-decoration: none;
    color: #0c0303;
    font-size: 15px;
    margin: 15px auto;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio {
    width: 90%;
    margin: 15px;
    border: 2px solid #C9B6BE;
    border-radius: 10px;
    box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio:hover {
    width: 100%;
    transition: 1s;
    box-shadow: -11px 12px 11px 2px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: -11px 12px 11px 2px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -11px 12px 11px 2px rgba(0, 0, 0, 0.74);
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .img-portfolio {
    width: 100%;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .h3-portfolio {
    margin-top: 5px;
    font-size: 17px;
    color: #9f684e;
    text-align: center;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio ul li {
    margin: auto;
    font-size: 15px;
    text-align: left;
  }
  footer {
    color: #fff;
    font-weight: bold;
    background-color: #4E549F;
    display: flex;
    justify-content: space-between;
  }
  footer .p-footer-2 {
    font-size: 18px;
    margin: auto 10px auto 10px;
    display: block;
  }
  footer .p-footer {
    display: block;
    font-size: 15px;
  }
  footer .section-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .section-footer img {
    margin: 10px 0;
    width: 40px;
  }
  footer .section-footer img:hover {
    transition: 1s;
    background-color: #0c0303;
    border-radius: 50%;
  }
}
/* Inicio Desktop */
@media (min-width: 1366px) {
  .header {
    padding: 0;
    margin: 0;
  }
  .header .logo {
    width: 50px;
  }
  .header .button-menu {
    display: none;
    background-color: #fff;
    margin-right: 30px;
    border: none;
    text-decoration: none;
    animation: none;
  }
  .header .button-menu .burger {
    width: 200%;
    background-color: #fff;
    display: none;
  }
  .header .navbar-expand-lg {
    display: flex;
    flex-basis: auto;
    justify-content: end;
  }
  .header .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: end;
  }
  .header .navbar-expand-lg .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .header .navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
    margin: 10px 5px;
  }
  .main-contact form {
    width: 50%;
    margin-bottom: 50px;
  }
  .main-contact form button {
    width: 30%;
    margin: auto;
    padding: 10px;
  }
  .main-contact form button:hover {
    background-color: #060a42;
  }
  .main-porfolio .h1-portfolio {
    width: 90%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .h2-portfolio {
    width: 95%;
    font-size: 25px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .section-porfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  .main-porfolio .section-porfolio .a-portfolio {
    width: 30%;
    text-decoration: none;
    color: #0c0303;
    font-size: 15px;
    align-self: center;
    margin: 15px auto;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio {
    width: 100%;
    border: 2px solid #C9B6BE;
    border-radius: 10px;
    box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .img-portfolio {
    width: 100%;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .h3-portfolio {
    margin-top: 5px;
    font-size: 17px;
    color: #9f684e;
    text-align: center;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio ul li {
    margin: auto;
    font-size: 15px;
    text-align: left;
  }
}
@media (min-width: 1600px) {
  .main-index .section-home {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .main-index .section-home .article-home {
    width: 30%;
    margin: 15px auto;
  }
  .main-contact form {
    width: 50%;
  }
  .main-contact form button {
    width: 20%;
    padding: 10px;
  }
  .main-contact form button:hover {
    background-color: #060a42;
  }
  .main-porfolio .h1-portfolio {
    width: 90%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .h2-portfolio {
    width: 95%;
    font-size: 25px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #4E549F;
    margin-top: 10px;
  }
  .main-porfolio .section-porfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }
  .main-porfolio .section-porfolio .a-portfolio {
    width: 30%;
    text-decoration: none;
    color: #0c0303;
    font-size: 15px;
    align-self: center;
    margin: 15px auto;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio {
    width: 100%;
    border: 2px solid #C9B6BE;
    border-radius: 10px;
    box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .img-portfolio {
    width: 100%;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio .h3-portfolio {
    margin-top: 5px;
    font-size: 17px;
    color: #9f684e;
    text-align: center;
  }
  .main-porfolio .section-porfolio .a-portfolio .article-portfolio ul li {
    margin: auto;
    font-size: 15px;
    text-align: left;
  }
}
@media (min-width: 1920px) {
  .main-index .section-home {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .main-index .section-home .article-home {
    width: 30%;
    margin: 15px auto;
  }
  .main-contact {
    width: 100%;
  }
  .main-contact .h1-contact {
    width: 70%;
    font-size: 25px;
    margin: 30px auto;
    text-align: center;
    color: #4E549F;
    font-weight: bold;
  }
  .main-contact .banner-services {
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
  }
  .main-contact form {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #C9B6BE;
    border-radius: 10px;
    box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -webkit-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    -moz-box-shadow: 1px 15px 16px -6px rgb(201, 182, 190);
    margin-bottom: 5%;
  }
  .main-contact form label {
    text-align: left;
    font-weight: bold;
    padding: 5px;
  }
  .main-contact form input {
    width: 100%;
    padding: 5px;
  }
  .main-contact form button {
    width: 20%;
    padding: 10px;
  }
  .main-contact form button:hover {
    background-color: #060a42;
  }
  .main-services .banner-services {
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
