
@media (min-width: 760px) {
    form{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 20px auto 120px auto;
        padding: 5%;
        border: 2px solid #C9B6BE;
        border-radius: 10px;
        box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        -webkit-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        -moz-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        position: relative;
        bottom: 0;
    }

    main section article ul li{
    font-size: 12px;
    text-align: left;
}

.article-portfolio{
    width: 70%;
    padding: 5px;
    margin: 15px auto;
    border: 2px solid #C9B6BE;
    border-radius: 5%;
    box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
    -webkit-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
    -moz-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
}

.ul-services{
    list-style: inside;
}

.a-portfolio{
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
}

@media (min-width: 990px) {
    form{
        padding: 1%;
    } 
}


@media (min-width: 1366px) {
    form{
        width: 50%;
        margin-bottom: 50px;
    }

    form button{
        width: 30%;
        margin: auto;
        padding: 10px;
    }
}

@media (min-width: 1600px) {

    form{
        width: 50%;
    }

    form button{
        width: 20%;
        padding: 10px;
    }
}

@media (min-width: 1920px) {

    .h1-contact{
        width: 70%;
        font-size: 25px;
        margin: 30px auto;
        text-align: center;
        color: #4E549F;
        font-weight: bold;
    }

    .banner-services{
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
    }

    .main-contact{
        width: 100%;
    }

    form{
        width: 30%;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 2px solid #C9B6BE;
        border-radius: 10px;
        box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        -webkit-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        -moz-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        margin-bottom: 5%;
    }

    form label{
        text-align: left;
        font-weight: bold;
        padding: 5px;
    }

    form input{
        width: 100%;
        padding: 5px;
    }

}



