*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.header{
    background-color: #fff;
}

.logo{
    width: 150%;
}

.button-menu{
    background-color: #fff;
    margin-right: 4%;
    border: none;
    text-decoration: none;
    animation: none;
}

.burger{
    width: 170%;
}

.link{
    color: #4E549F;
    font-weight: bold;
}

.carousel-indicators{
    display: none;
}

.mobile{
    display: none;
}

.img-banner-desktop{
    display: none;
}

.h1-home{
    
    width: 90%;
    font-size: 20px;
    text-align: center;
    color: #4E549F;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
}

.section-home{
    width: 100%;
}

.article-home{
    width: 90%;
    padding: 5%;
    margin: 5% auto;
    border: 2px solid #C9B6BE;
    box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
    -webkit-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
    -moz-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
}

.img-services{
    width: 100%;
}

main article h2{
    margin-top: 5px;
    font-size: 15px;
    color:#9f684e;
    text-align: center;
}

main section article h3{
    font-style: italic;
    font-size: 13px;
    text-align: center;
}

article ul li{
    font-size: 12px;
}

form{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5%;
}

form label{
    text-align: left;
    font-weight: bold;
}

.ul-services{
    list-style: inside;
}

.img-portfolio{
    width: 60%;
    margin: auto;
}

.a-portofolio{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.h3-portfolio{
    color: #9f684e;
}

footer{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #4E549F;
    display: flex;
    justify-content: space-between;
}

.p-footer{
        margin: auto 0px auto 5px;
}

footer a img{
    width: 40px;
    font-size: 15px;
}


