@use "./variables" as*;

/* Mobile */

.header{
    background-color: $violeta;
    .logo{
        width: 60%;
    }
    .button-menu{
        background-color: $blanco;
        margin-right: 30px;
        border: none;
        text-decoration: none;
        animation: none;  
    }
    .burger{
            width: 200%;
            background-color: $violeta;
    }
    .link{
        color: $blanco;
        font-weight: bold;
    }
}



