@use "../partials/variables" as*;

/* Mobile  */

.main-contact{
    .h1-contact{
        width: 90%;
        font-size: 18px;
        text-align: center;
        margin: auto;
        font-weight: bold;
        color: $violeta;
        margin-top: 10px;
    }
    @keyframes bannerServiceAni {
        0% {
            opacity: 0%;
        }
        25% {
            opacity: 25%;
        }
        50% {
            opacity: 50%;
        }
        50% {
            opacity: 75%;
        }
        100% {
            opacity: 100%;
        }
    }
    .banner-services{
        width: 100%;
        animation: bannerServiceAni 5s 1;
    }
    form{
        background: #C9B6BE;
        background: linear-gradient(0deg,rgba(201, 182, 190, 1) 0%, rgba(255, 255, 255, 1) 65%);
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px auto 100px auto;
        padding: 5%;
        border: 2px solid $bordoclaro;
        border-radius: 10px;
        box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        -webkit-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        -moz-box-shadow: 1px 15px 16px -6px rgba(201,182,190,1);
        label{
            text-align: left;
            font-weight: bold;
            font-weight: bold;
            color: $violeta;
            margin: 5px 0;
        }
        input{
            border: 2px solid $bordoclaro;
            border-radius: 5px;
        }
        textarea{
            border: 2px solid $bordoclaro;
            border-radius: 5px;
            margin: 0 0 30px 0;
        }
        button{
            background-color: $violeta;
            border: 2px solid $violeta;
            border-radius: 5px;
            margin: 0 0 30px 0;
            color: $blanco;
            font-weight: bold;
        }
    }
}
