@use "../partials/variables" as*;

/* Mobile  */

.main-services{
     @keyframes bannerAnimation {
        0% {
            background-color: blue;
            transform: translateX(0);
        }
        50% {
            background-color: red;
        }
        100% {
            background-color: green;
            transform: translateX(100px);
        }
    }
    .banner-services{
        width: 100%;
    }
    .ul-services{
        li{
            width: 100%;
            margin: auto;
        }
    }
   
}


